body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scan */
body {
  margin: 60px; 
}

.bg-scan h1 {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 50px; 
  display: flex;
  margin-left: 50vmax;
}

.bg-scan h2 {
  display: flex;
  color: #505050;
  font-size: 1.3em; 
  padding-bottom: 10px;
  margin-left: 50vmax;
}


.bg-scan button {
  font-family: Open sans-serif;
    font-size: 1.3em;
    color: #505050;
    border-color:  #505050;
    border-radius: 25px;
    border-width: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
  }
  
.bg-scan button:hover {
    background-color:  white;
    border-color: #505050; 
  }

.scan-buttons {
  margin:10px 15vmax 20px 50vmax;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(10px,auto));
}

h1,
h2,
h3,
li { 
  color: #505050;
}

li {
  font-size: 1.em;
  font-weight: bold;
  padding-right: 120px;
}

h1 {
  display: flex;
  font-size: 45px; 
}

h2 {
  font-size: 2em; 
  font-weight: bold;
}

/* Results */

* {
  margin: 0  ;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
} 

.banner-l {
  height: 90vh;
}

.banner-s {
  height: 80vh;
}
.results-heading {
  color: #505050;
  font-family: Open sans-serif;
  margin-top: 50px;
  padding-left: 110px; 
  margin-bottom: 20px;
  padding-right: 800px; 
  font-size: 3em; 
}

/* dark banner */
.dbanner {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
} 

hr {
  border: 1px solid 505050; /* Set the color and style of the line */
  margin-top: 20px;
  margin-left: 7vmax;
  margin-right: 7vmax;
  font-size: 24px; 
}

.cards-container  {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,auto));
  gap: 1 rem;
  margin-top: 2rem;
  justify-content: center;
}

.cards-container h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px; 
  margin-left: 7vmax;
  font-size: 3.5em; 
}
.cards-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
}

.cards {
  width: 500px;
  height: 500px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 5px;
  margin: 10px;
  padding-left: 40px; 
  padding-right: 40px;
}
.cards-long {
  width: 500px;
  height: 500px;
  position: flex;
  background-color: #E0EAEF;
  border-radius: 5px;
  margin: 10px;
  padding-left: 40px; 
  padding-right: 40px;
}

.cards h1{
  margin-top: 30px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #3187AC;
}

.cards h2{
  margin-top: 15px;
  text-align:left;
  font-size: 20px;
  font-family: Open sans-serif;
  color: 505050;
}

.cards button {
  padding: 7px 20px;
  position: absolute;
  bottom: 35px;
  font-size: 14px;
  color:  #3187AC;
  border-color:  #3187AC;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}
.cards button:hover {
  background-color: white; 
  border-color:  #3187AC;
}
/* About */
.bg-about h1 {
  color: white;
  margin-left: -15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 110px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px; 
  display: flex;
  align-content: center;
  justify-content: center; /* Horizontally center the content */
}

.container-1 {
  margin-top: 40px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container-1 h1{
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 50px; 
  display: flex;
  align-content: center;
  justify-content: center;
}
.container-1 h2{
  color: #505050;
  font-weight: 600;
  font-size: 36px; 
  padding-bottom: 60px;
  margin-left: 17vmax;
  margin-right: 17vmax;
  display: flex;
  align-content: center;
  text-align: center;
}

.container-2 {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.container-2 h1 {
  display: flex;
  font-size: 40px;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.inspo-grid {
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
margin-left: 50px;
}
.inspo-mis {
  background-image: url('components/images/misinfo.png');
  height: 200px;
  width: 200px;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.inspo-trend {
  background-image: url('components/images/trend.png');
  height: 200px;
  width: 200px;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.inspo-harm {
  background-image: url('components/images/harmful.png');
  height: 200px;
  width: 200px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.inspo-overload {
  background-image: url('components/images/overload.png');
  height: 200px;
  width: 200px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}

.inspo-grid p {
  margin-top: 200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Optionally, add a semi-transparent background for better readability */
  padding: 10px;
  text-align: center;
}
.container-2 h2 {
  display: flex;
  padding: 100px;
  font-size: 33px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container-3 h1{
  align-content: center;
  justify-content: center;
  align-items: center;
}
.coreval {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns with equal width */
  gap: 30px;
  margin-bottom: 70px;
}

.vals {
  margin-top: 40px;
  padding: 10px;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.vals h1 {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 35px;
  justify-content: center;
}

.vals p {
  margin:60px;
  font-size: 25px;
  font-weight: 200;
}

.container-4 {
  margin-right: 20vmax;
}

.teamgrid {
  margin-right: 20vmax;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns with equal width */
  margin-bottom: 70px;
  margin-right: 40vmax;
}

.team-steph {
  background-image: url('components/images/steph.jpg');
  height: 400px;
  width: 285px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.team-tiff {
  background-image: url('components/images/tiff.jpg');
  height: 400px;
  width: 285px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.team-oscar
 {
  background-image: url('components/images/oscar.jpg');
  height: 400px;
  width: 285px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.team-will {
  background-image: url('components/images/will.jpg');
  height: 400px;
  width: 285px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.team-eric {
  background-image: url('components/images/eric.jpg');
  height: 400px;
  width: 285px;
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}

.gratitude {
  margin-top: -40px;
  font-weight: 200;
  font-size: 1.3em;
  margin-bottom: 60px;
}

.container-5 {
  position: relative;
  overflow: hidden;
  width: 100%; /* Ensure it takes up the desired width */
}

.container-5 h1 {
  text-align: center;
  margin-bottom: 20px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Ensures the slides container takes full width */
}

.slide {
  min-width: 100%; /* Ensures each slide takes up full width of the container */
  margin-top: 60px;
  border-radius: 20px;
  position: relative;
  background-color: #E0EAEF;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 70px;
}

.vol {
  padding: 30px;
  margin-right: 50px;
  margin-left: 25px;
}

.vol h1 {
  margin-bottom: 10px;
}

.vol h2 {
  margin-bottom: 20px;
  font-size: 25px;
}

.vol h3 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
}

.vol .first {
  margin-top: 180px;
}

.vol p {
  margin-bottom: 30px;
}

.vol-img-1 {
  background-image: url('components/images/vol1.png');
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-size: cover;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

button {
  background-color: transparent;
  color: #505050;
  border: 2px solid #505050;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
}

.slider-controls button {
  background-color: transparent;
  color: #505050;
  border: 2px solid #505050;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
}

.slider-controls button:hover {
  background-color: #505050;
  color: white;
}

/* results */
.bg-result h1 {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 50px; 
  display: flex;
  margin-left: 100px;
  margin-right: 50vmax;
}

.bg-result h2 {
  font-family: Open sans-serif;
  display: flex;
  font-weight: lighter;
  color: #505050;
  font-size: 1.3em; 
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 50vmax;
}
.bg-result button {
  font-family: Open sans-serif;
    margin-top: 50px;
    margin-left: 7vmax;
    padding: 7px 20px;
    font-size: 1.3em;
    color: #505050;
    border-color:  #505050;
    border-radius: 25px;
    border-width: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
  }
  
  .bg-result button:hover {
    background-color:  white;
    border-color: #505050; 
  }
  .ingre-container  {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(180px,auto));
  gap: 1 rem;
  margin-top: 2rem;
  justify-content: center;
}

.result-ingredient {
  margin-left: 7vmax;
  margin-right: 7vmax;
  position: relative;
  border-radius: 5px;
  grid-row-start: auto;
}

.result-ingredient h1{

  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #3187AC;
}

.result-ingredient h2{
  margin-top: 30px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #505050;
}

.result-ingredient button{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #505050;
}

.rec-container {
  margin-top: 50px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: auto;
  gap: 1 rem;
  justify-content: center;
}

.rec-container h1 {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.rec-container p {
  margin-top: 5px;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.rec-ingred {
  margin-left: 13vmax;
  margin-right: 13vmax;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 5px; /* Adjust gap between columns */
}
.rec-ingred h2 {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #3187AC;
}

.amazon {
  margin-left: 25vmax;
  margin-right: 25vmax;
  margin-top: 40px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 5px; /* Adjust gap between columns */
}

.recs {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
}

.recs h1 {
  margin-top: 200px;
  padding: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #505050;
}

.recs h2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #505050;
  font-weight: lighter;
}


.treatments {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 108px;
}

.treatments h1 {
  font-size: 2em;
  font-family: Open sans-serif;
}

.treatments h2 {
  margin: 20px 0;
  display: flex;
  font-weight: lighter;
  color: #505050;
  font-size: 1.3em; 
  padding-bottom: 10px;
}

.treatments button {
  font-size: 14px;
  margin-left: 70vmax;
  color:  #505050;
  border-color:  #505050;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}
.treatments button:hover {
  background-color: white; 
  border-color:  #3187AC;
}
/* Navbar.css */

.navbar {
  width: 100%;
  justify-content: space-between;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

.logo {
  margin-left: 0.5em;
  font-size: 3.5em; 
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links > div {
  display: flex;
  text-align: center;
  margin: 5vh 5vw; 
}
.navnav li{
  font-size: 1.2em;
  padding-left: 100px;
  padding-right: 0px;
}

.nav-links a {
  text-decoration: none;
}

.dark .nav-links a {
  color: #505050;
}

.light .nav-links a  {
  color: #FFFFFF;
}

/* Home */

.bg-home h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px; 
  margin-left: 7vmax;
  font-size: 3.5em; 
}

.bg-home h2 {
  padding-right:55vmax; 
  font-size: 20px;  
  color: white;
  margin-left: 7vmax;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.bg-home button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-left: 7vmax;
  padding: 7px 20px;
  font-size: 1.3em;
  color: white;
  border-color:  white;
  border-radius: 25px;
  border-width: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}
.bg-home a{
  color: white;
  text-decoration: none;
}
.bg-home button:hover {
  background-color:white;
  color:#505050;
  border-color: #505050;
}

a:visited {
  color: inherit; /* Or specify the color you want */
}

.home1  {
  margin-top: 40px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.home1 h1 {
  color: 505050;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 7vmax; 
}

.box-container {
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 5vmax;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vmax, 1fr)); /* Adjust column width as needed */
}


.homePic1 {
  background-image: url("components/images/pink.jpg");
  height: 99%;
  width: 99%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.homePic2 {
  background-image: url("components/images/purple.jpg");
  height: 99%;
  width: 99%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.homePic3 {
  background-image: url("components/images/green.jpg");
  height: 99%;
  width: 99%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.homePic4 {
  background-image: url("components/images/yellow.jpg");
  height: 99%;
  width: 99%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
}
.box {
  width: 240px;
  height: 240px; 
}


.box h2 {
  text-align: center;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #505050;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin-top: 40px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 44vmax;
  height: 44vmax;
}

.grid-item {
  max-width: 100%;
  max-height: 100%;
}

.grid-item h1 {
  margin: 40px 0;
  text-align: center;
  align-content: center;
  margin-left: 175px;
}

.grid-item h2 {
  font-size: 1.3em;
  padding-top: 280px;
}

.grid-item p {
  margin: 50px 0;
  padding: 0 120px;
  font-size: 1.3em;
}

.grid-item-pic2 {
  padding: 20px;
  text-align: center;
  background-image: url("components/images/computervision.jpg");
  border-radius: 25px;
  background-size: cover;
}

.grid-item-pic3 {
  padding: 20px;
  text-align: center;
  background-image: url("components/images/ingredient.jpg");
  border-radius: 25px;
  background-size: cover;
}
/* Ingredinary */

.bg-ingredinary h1 {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 130px;
  margin-bottom: 20px;
  font-size: 50px; 
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  background-size: cover;
}

.bg-ingredinary h2 {
  font-family: Open sans-serif;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  font-weight: lighter;
  color: #505050;
  font-size: 1.3em; 
  padding-bottom: 10px;
  align-items: center;
}

.ingredlist {
  margin-top: 50px;
  margin-left: 90px;
}

.line {
  border-top: 2px solid #505050; /* Adjust the thickness and color of the line */
  width: 95%; /* Set the width to span the full width of its container */
  margin-top: 10px;
  margin-bottom: 40px;
}

.ingredlist h1 {
  font-size: 2.8em;
  
}

.ingred .line{
    border-top: 1px solid #505050;
}
.ingred {
  margin-bottom: 20px;
}

.ingred h1 {
  font-size: 2.2em;
}

.ingred h2 {
  margin: 20px 0;
  display: flex;
  font-weight: lighter;
  color: #505050;
  font-size: 1.3em; 
  padding-bottom: 10px;
}

.ingred button {
  font-size: 14px;
  color:  #3187AC;
  border-color:  #3187AC;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}
.ingred button:hover {
  background-color: white; 
  border-color:  #3187AC;
}

.popup {
  width: 1000px;
  background-color: #E0EAEF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
  border-width: 100px;
  padding: 0 50px 30px;
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup button {
  font-size: 30px;
  font-weight: bolder;
  color: #505050;
  border-radius: 30px;
  border-color: #E0EAEF;
  margin-top: 40px;
  margin-left: 850px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}

.popup button:hover {
  background-color: #E0EAEF; 
  border-color:  #505050;
}

.popup h1 {
  margin-top: -60px;
}
.popup h2 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.3em;
}

.popup li{
margin-left: 30px;
padding-left: 10px;
 font-weight: lighter;
 font-size: 1.2em;
}
/* Backgrounds */
.bg {
  align-items: center;
  width: 100%;
  height: 100%;
}
.bg-home {
  background-image: url("img/Home.png");
}
.bg-scan {
  background-image: url("img/Scan.png");
}

.bg-about {
  background-image: url("img/About.png");
}
.bg-ingredinary {
  background-image: url("img/Ingredinary.png");
}
.bg-result {
  background-image: url("img/Results.png");
}
/* Search */
.input-wrapper {
  margin-top: 30px;
  margin-left: 90px;
  width: 60%;
  height: 2.5rem;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 15px;
}

input:focus {
  outline: none;
}

.results-list {
  margin-left: 90px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}

/* Footer */
footer {
  color: black;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  align-content: center;
  font-family: 'Helvetica', sans-serif;
  border-top: 2px solid #505050; 
}

.footer-content {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between; 
}

.footer-content p {
  text-align: center;
  margin: 10px 5vw; 
}