body {
  margin: 60px; 
}

.bg-image {
  background-image: url("splash.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh; 
  align-items: center;
}

.col-md-6:first-child {
  margin-left: 100px;
}

.col-md-6:last-child {
  margin-right: 100px;
}

h1,
h2,
h3,
li { 
  color: #505050;
}

li {
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 120px;
}

h1 {
  font-size: 4em; 
  font-weight: bold;
}

h2 {
  font-size: 2em; 
  font-weight: bold;
}

button {
  background-color: transparent;
  color: #505050;
  border: 2px solid #505050;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px; 
}

button:hover {
  background-color: #505050;
  color: white;
}