body {
  margin: 60px; 
}

.bg-image {
  background-image: url("splash.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh; 
  align-items: center;
}

.col-md-6:last-child {
  margin-top: 15vh;
}

h1,
h2,
h3,
li { 
  color: #505050;
}

li {
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 120px;
}

h1, h2 {
  font-size: 3em; 
  font-weight: bold;
}


h3 {
  font-size: 1.5em; 
  font-weight: lighter;
}

button {
  background-color: transparent;
  color: #505050;
  border: 2px solid #505050;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px; 
}

button:hover {
  background-color: #505050;
  color: white;
}