body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scan */
body {
  margin: 60px; 
}

.bg-image {
  background-image: url("img/Scan.png");
  background-size: cover;
  background-position: center;
  height: 90vh; 
  align-items: center;
}

.col-md-6:first-child {
  margin-left: 100px;
}

.col-md-6:last-child {
  margin-right: 100px;
}

h1,
h2,
h3,
li { 
  color: #505050;
}

li {
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 120px;
}

h1 {
  font-size: 4em; 
  font-weight: bold;
}

h2 {
  font-size: 2em; 
  font-weight: bold;
}

button {
  background-color: transparent;
  color: #505050;
  border: 2px solid #505050;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px; 
}

button:hover {
  background-color: #505050;
  color: white;
}
/* Results */

* {
  margin: 0  ;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
} 

.banner-l {
  height: 90vh;
}

.banner-s {
  height: 80vh;
}
.results-heading {
  color: #505050;
  font-family: Open sans-serif;
  margin-top: 50px;
  padding-left: 110px; 
  margin-bottom: 20px;
  padding-right: 800px; 
  font-size: 3em; 
}

.banner h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px; 
  margin-left: 7vmax;
  font-size: 3.5em; 
}

.banner h2 {
  padding-right:55vmax; 
  font-size: 20px;  
  color: white;
  margin-left: 7vmax;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.banner button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-left: 7vmax;
  padding: 7px 20px;
  font-size: 1.3em;
  color: white;
  border-color:  white;
  border-radius: 25px;
  border-width: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}

.banner button:hover {
  background-color:  #505050;
  border-color: white; 
}

/* dark banner */
.dbanner {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
} 


.dbanner button {
font-family: Open sans-serif;
  margin-top: 50px;
  margin-left: 7vmax;
  padding: 7px 20px;
  font-size: 1.3em;
  color: #505050;
  border-color:  #505050;
  border-radius: 25px;
  border-width: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}

.dbanner button:hover {
  background-color:  white;
  border-color: #505050; 
}

hr {
  border: 1px solid 505050; /* Set the color and style of the line */
  margin-top: 20px;
  margin-left: 7vmax;
  margin-right: 7vmax;
  font-size: 24px; 
}

.cards-container  {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,auto));
  gap: 1 rem;
  margin-top: 2rem;
  justify-content: center;
}

.cards-container h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px; 
  margin-left: 7vmax;
  font-size: 3.5em; 
}
.cards-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
}

.cards {
  width: 500px;
  height: 500px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 5px;
  margin: 10px;
  padding-left: 40px; 
  padding-right: 40px;
}
.cards-long {
  width: 500px;
  height: 500px;
  position: flex;
  background-color: #E0EAEF;
  border-radius: 5px;
  margin: 10px;
  padding-left: 40px; 
  padding-right: 40px;
}

.cards h1{
  margin-top: 30px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #3187AC;
}

.cards h2{
  margin-top: 15px;
  text-align:left;
  font-size: 20px;
  font-family: Open sans-serif;
  color: 505050;
}

.cards button {
  padding: 7px 20px;
  position: absolute;
  bottom: 35px;
  font-size: 14px;
  color:  #3187AC;
  border-color:  #3187AC;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}
.cards button:hover {
  background-color: white; 
  border-color:  #3187AC;
}

/* results */
.ingre-container  {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(180px,auto));
  gap: 1 rem;
  margin-top: 2rem;
  justify-content: center;
}

.result-ingredient {
  margin-left: 7vmax;
  margin-right: 7vmax;
  position: relative;
  border-radius: 5px;
  grid-row-start: auto;
}

.result-ingredient h1{

  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #3187AC;
}

.result-ingredient h2{
  margin-top: 30px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #505050;
}

.result-ingredient button{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #505050;
}

.rec-container {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: auto;
  gap: 1 rem;
  justify-content: center;
}

.rec-container h1 {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.rec-container p {
  margin-top: 5px;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.rec-ingred {
  margin-left: 13vmax;
  margin-right: 13vmax;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 5px; /* Adjust gap between columns */
}
.rec-ingred h2 {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #3187AC;
}

.amazon {
  margin-left: 25vmax;
  margin-right: 25vmax;
  margin-top: 40px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 5px; /* Adjust gap between columns */
}

.recs {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
}

.recs h1 {
  margin-top: 200px;
  padding: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #505050;
}

.recs h2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #505050;
  font-weight: lighter;
}

/* Navbar.css */

.navbar {
  width: 100%;
  justify-content: space-between;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

.logo {
  margin-left: 0.5em;
  font-size: 3.5em; 
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links > div {
  display: flex;
  text-align: center;
  margin: 5vh 5vw; 
}
.navnav li{
  font-size: 1.2em;
  padding-left: 100px;
  padding-right: 0px;
}

.nav-links a {
  text-decoration: none;
}

.dark .nav-links a {
  color: #505050;
}

.light .nav-links a  {
  color: #FFFFFF;
}

/* Home */

.home1  {
  margin-top: 40px;
  padding: 10px;
  position: relative;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 100%;
  height: auto;
  justify-content: center;
}

.home1 h1 {
  color: 505050;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 7vmax; 
}

.box-container {
  flex-direction: row;
  gap: 1 rem;
  justify-content: center;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 7vmax;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
}

.box {
  width: 240px;
  height: 330px; 
}
.box img {
  width: 240px;
  height: 240px; 
}

.box h2 {
  text-align: center;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #505050;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin-top: 40px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  background-color: #E0EAEF;
  border-radius: 20px;
  width: 44vmax;
  height: 44vmax;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
}

.grid-item h1 {
  margin: 40px 0;
  font-size: 2.5em;
}

.grid-item h2 {
  margin: 50px 0;
  padding: 0 60px;
  font-size: 1.3em;
}

.grid-item p {
  margin: 50px 0;
  padding: 0 120px;
  padding-bottom: 340px;
  font-size: 1.3em;
}


/* Ingredinary */

.bg-ingredinary h1 {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 130px;
  margin-bottom: 20px;
  font-size: 50px; 
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
}

.bg-ingredinary h2 {
  font-family: Open sans-serif;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  font-weight: lighter;
  color: #505050;
  font-size: 1.3em; 
  padding-bottom: 10px;
  align-items: center;
}

/* Backgrounds */
.bg {
  align-items: center;
  width: 100%;
  height: 100%;
}
.bg-home {
  background-image: url("img/Home.png");
}
.bg-scan {
  background-image: url("img/Scan.png");
}
.bg-about {
  background-image: url("img/About.png");
}
.bg-ingredinary {
  background-image: url("img/Ingredinary.png");
}
.bg-result {
  background-image: url("img/Results.png");
}

/* Footer */
footer {
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  font-family: 'Helvetica', sans-serif;
  border-top: 2px solid black; 
}

.footer-content {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between; 
}

.footer-content p {
  text-align: center;
  margin: 10px 5vw; 
}